.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
}

.checkoutProduct__image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct__info{
    padding-left: 20px;
}

.checkoutProduct__title{
    font-size: 17px;
    font-weight: 800;
}

.checkoutProduct__info > button{
    background-color: #f49933;
    border: 1px solid;
    border-color: #a88734 #7c7e31 #846a29;
}